body, html, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato, sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}


#body-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    top: 500px;
}

.container {
    display: flex;
    width: 50px;
    background-color: white;
    box-shadow: 3px 3px 30px #ccc;
    border-radius: 20px;
    margin: 10px;
}

#contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
}

#contact-links img {
    height: 40px;
    width: 40px;
}



#title-outer-container {
    width: 900px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: 0;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.01);
}

#title-inner-container {
    width: 900px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.01);
}

#title-text, .cursor {
    position: relative;
    z-index: 2;
    font-size: 4em;
}

.cursor {
    display: inline-block;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}


#navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    padding: 0 20px;
    width: 70%;
}


#navigation button {
    padding: 10px 40px;
    margin: 10px 30px 10px 30px;
    font-size: 16px;
    border: none;
    background-color: white;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    box-shadow: 1px 1px 25px #ccc;
}

#content {
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
    
}



/* For the changing content */
/* About me */
#content-container {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}.about-me {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.about-me img {
    width: 20%;
    height: 20%;
    margin-right: 20px;
    border-radius: 10px;
}

/*Journey*/
.journey{
    padding-top: 35px;
    border-top: #333 1px solid;
}

.journey-content {
    display: flex;
    align-items: stretch;
}
.timeline-bar {
    width: 20px;
}
.experience-content {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.experience-text {
    flex: 1;
    padding-right: 40px;
}
.experience-image {
    width: 50px;
    height: 50px;
    top: 0;
    border-radius: 5px;
}
h2 {
    padding: 5px;
    margin: 0 0 10px 0;
}

/* CV */
embed {
    margin-top: 15px;
    width: 100%;
    height: 1000px;
}

/* Files */
/*.files-container{
}

#file-container{
    position: relative;
}

.download-button{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
}*/

/* Container for all files */
#files-container {
    width: 100%;
    margin: 0 auto;
}

/* Individual file container */
.file-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

/* File name style */
.file-container a {
    text-decoration: none;
    color: #333;
    flex-grow: 1;
}

/* Icons container */
.icons-container {
    display: flex;
    align-items: center;
}

/* Style for both icons */
.icon {
    margin-left: 20px;
}

/* Specific style for the download icon if needed */
.download-button {
    width: 15px;
    height: 15px;
}

/* Specific style for the new icon if needed */
.view-icon {
    width: 25px;
    height: 15px;
}

#View button{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}